VITE_API_BASE_URL=https://relenting-quickly-overbuilt.ngrok-free.dev/api
VITE_APP_TITLE=Dashboard PE
VITE_POLLING_INTERVAL=30000

# Keycloak SSO Configuration
VITE_KEYCLOAK_URL=http://localhost:8180
VITE_KEYCLOAK_REALM=pe-realm
VITE_KEYCLOAK_CLIENT_ID=dashboard-pe-frontend
